<!DOCTYPE html>
<html>
  <head>
    <title>The Meh Yuck Trials Crossword</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      // raster images
      window.main_myt_logo = "<%= image_url('main_myt_logo.png') %>";
      window.myt_logo = "<%= image_url('mytrials_logo.png') %>";
      window.demo_logo = "<%= image_url('demo_logo.png') %>";
      window.fake_logo = "<%= image_url('fake_logo.png') %>";
      window.banana_logo = "<%= image_url('banana_logo.png') %>";
      window.checkbox = "<%= image_url('checkbox.png') %>";
      // svg images
      window.arrow = "<%= image_url('arrow.svg') %>%";
      window.bee = "<%= image_url('bee.svg') %>%";
      window.letter_boxed = "<%= image_url('letter_boxed.svg') %>%";
      window.mini_large = "<%= image_url('mini_large.svg') %>%";
      window.mini_small = "<%= image_url('mini_small.svg') %>%";
      window.puzzle_large_inactive = "<%= image_url('puzzle_large_inactive.svg') %>%";
      window.puzzle_large_active = "<%= image_url('puzzle_large_active.svg') %>%";
      window.puzzle_small = "<%= image_url('puzzle_small.svg') %>%";
      window.subscribe_ribbon = "<%= image_url('subscribe_ribbon.svg') %>%";
      window.tiles = "<%= image_url('tiles.svg') %>%";
      window.vertex = "<%= image_url('vertex.svg') %>%";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
