<!DOCTYPE html>
<html>
  <head>
    <title>The Mad Year Times Wordcross</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      // raster images
      window.main_myt_logo = "<%= image_url('main_myt_logo.png') %>";
      window.myt_logo = "<%= image_url('mytimes_logo.png') %>";
      window.demo_logo = "<%= image_url('demo_logo.png') %>";
      window.fake_logo = "<%= image_url('fake_logo.png') %>";
      window.banana_logo = "<%= image_url('banana_logo.png') %>";
      window.checkbox = "<%= image_url('checkbox.png') %>";
      window.waylon_ad = "<%= image_url('waylon_ad.png') %>";
      // svg images
      window.arrow = "<%= image_url('arrow.svg') %>";
      window.word_wasp = "<%= image_url('word_wasp.svg') %>";
      window.ricochet = "<%= image_url('ricochet.svg') %>";
      window.micro_small = "<%= image_url('micro_small.svg') %>";
      window.wordcross_small = "<%= image_url('wordcross_small.svg') %>";
      window.ribbon = "<%= image_url('ribbon.svg') %>";
      window.linoleum = "<%= image_url('linoleum.svg') %>";
      window.nexus = "<%= image_url('nexus.svg') %>";
      window.pause_button = "<%= image_url('pause_button.svg') %>";
      window.reset_button = "<%= image_url('reset_button.svg') %>";
      // wordcross-progress icons
      window.micro_progress_0 = "<%= image_url('micro_progress_0.svg') %>";
      window.micro_progress_1 = "<%= image_url('micro_progress_1.svg') %>";
      window.micro_progress_2 = "<%= image_url('micro_progress_2.svg') %>";
      window.micro_progress_3 = "<%= image_url('micro_progress_3.svg') %>";
      window.micro_progress_4 = "<%= image_url('micro_progress_4.svg') %>";
      window.micro_progress_5 = "<%= image_url('micro_progress_5.svg') %>";
      window.micro_progress_6 = "<%= image_url('micro_progress_6.svg') %>";
      window.micro_progress_7 = "<%= image_url('micro_progress_7.svg') %>";
      window.daily_progress_00 = "<%= image_url('daily_progress_00.svg') %>";
      window.daily_progress_01 = "<%= image_url('daily_progress_01.svg') %>";
      window.daily_progress_02 = "<%= image_url('daily_progress_02.svg') %>";
      window.daily_progress_03 = "<%= image_url('daily_progress_03.svg') %>";
      window.daily_progress_04 = "<%= image_url('daily_progress_04.svg') %>";
      window.daily_progress_05 = "<%= image_url('daily_progress_05.svg') %>";
      window.daily_progress_06 = "<%= image_url('daily_progress_06.svg') %>";
      window.daily_progress_07 = "<%= image_url('daily_progress_07.svg') %>";
      window.daily_progress_08 = "<%= image_url('daily_progress_08.svg') %>";
      window.daily_progress_09 = "<%= image_url('daily_progress_09.svg') %>";
      window.daily_progress_10 = "<%= image_url('daily_progress_10.svg') %>";
      window.daily_progress_11 = "<%= image_url('daily_progress_11.svg') %>";
      window.daily_progress_12 = "<%= image_url('daily_progress_12.svg') %>";
      window.daily_progress_13 = "<%= image_url('daily_progress_13.svg') %>";
      window.daily_progress_14 = "<%= image_url('daily_progress_14.svg') %>";
      window.daily_progress_15 = "<%= image_url('daily_progress_15.svg') %>";
      window.daily_progress_16 = "<%= image_url('daily_progress_16.svg') %>";
      window.daily_progress_17 = "<%= image_url('daily_progress_17.svg') %>";
      window.daily_progress_18 = "<%= image_url('daily_progress_18.svg') %>";
      window.daily_progress_19 = "<%= image_url('daily_progress_19.svg') %>";
      window.daily_progress_20 = "<%= image_url('daily_progress_20.svg') %>";
    </script>
    <meta property="og:title" content="The Mad Year Times Wordcross" />
    <meta property="og:image" content="<%= image_url('mytimes_thumbnail.png') %>" />
    <meta property="og:description"
      content="A full stack homage to the NY Times Crossword web app" 
    />
    <meta property="og:url" 
      content="https://mytimes-crossword.herokuapp.com/"
    />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
